{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, textarea, errorClass, errorsFor %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}
  <p class="govuk-body">{{ content.applicationStillTrue | safe }}</p>

  <h2 class="govuk-heading-m">{{ content.applicationForDivorce }}</h2>
  {% if case.previousCaseId %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.amendAppDetails }}</h3>
  {% endif %}

  <p class="govuk-body">
    {% if case.claimsCosts == "Yes" and case.financialOrderFor == "Yes" %}
      {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom  %}
        {{ content.costsPetitionerPayedByRespondentAndCorrispondent }}
      {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom  %}
        {{ content.costsPetitionerPayedByCorrespondent }}
      {% else %}
        {{ content.costsPetitionerPayedByRespondent }}
      {% endif %}
    {% elseif case.claimsCosts == "Yes" %}
      {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom %}
        {{ content.costsPetitionerDivorceCostsdByRespondentAndCorespondent }}
      {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom %}
        {{ content.costsPetitionerDivorceCostsdByCorespondent }}
      {% else %}
        {{ content.costsPetitionerDivorceCostsdByRespondent }}
      {% endif %}
    {% elseif case.financialOrderFor == "Yes" %}
      {{ content.costsPetitionerDivorceCostsdByFinantialOrder }}
    {% else %}
      {{ content.costsPetitionerDivorceNoCosts }}
    {% endif %}
  </p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.issued }}</h3>
  {% if case.previousCaseId %}
    <p class="govuk-body">{{ case.previousIssueDate | date }}</p>
  {% else %}
    <p class="govuk-body">{{ case.issueDate | date }}</p>
  {% endif %}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.caseNumber }}</h3>
  <p class="govuk-body">{{ case.caseReference | safe }} </p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.applicant }}</h3>
  <p class="govuk-body">{{ case.petitionerFirstName }} {{ case.petitionerLastName }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.respondent }}</h3>
  <p class="govuk-body">{{ case.respondentFirstName }} {{ case.respondentLastName }}</p>

  <!-- EOF Application for divorce -->

  <!-- CoRespondent -->

  {% if case.reasonForDivorce == "adultery" and case.reasonForDivorceAdulteryIsNamed == "Yes" %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.coRespondent }}</h3>
    <p class="govuk-body">{{ case.reasonForDivorceAdultery3rdPartyFirstName }} {{ case.reasonForDivorceAdultery3rdPartyLastName }}</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What applicant or respondent means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <p class="govuk-body">{{ content.whatThisMeansApplicantRespondent }}</p>
    </div>
  </details>

  <!-- EOF CoRespondent -->


  <!-- About the marriage  -->

  <h2 class="govuk-heading-m">{{ content.aboutTheMarriage }}</h2>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whoMarriageIsBetween }}</h3>
  <p class="govuk-body">{{ content.marriageIsBetween }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whereMarriageTookPlace }}</h3>
  <p class="govuk-body">{{ case.placeOfMarriage | safe }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.dateOfMarriage }}</h3>
  <p class="govuk-body">{{ case.marriageDate | date }}</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-7" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What about the marriage means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-7" aria-hidden="true">
      <p class="govuk-body">{{ content.whatThisMeansDetailsCoppied }}</p>
    </div>
  </details>

  <!-- EOF About the marriage  -->


  <!-- Jurisdiction -->

  <h2 class="govuk-heading-m">{{ content.jurisdiction }}</h2>

  {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
    <ul class="govuk-list govuk-list--bullet">
  {% endif %}

    {% if "A" in case.connections and case.connections.A != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothResident }}

      {% if case.connections|length > 1  and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "B" in case.connections and case.connections.B != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionOneResides }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "C" in case.connections and case.connections.C != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionRespondent }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "D" in case.connections and case.connections.D != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitioner }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "E" in case.connections and case.connections.E != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitionerSixMonths }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "F" in case.connections and case.connections.F != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothDomiciled }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "G" in case.connections and case.connections.G != null %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionOther }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

  {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
    </ul>
  {% endif %}

  <br>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.otherCourtCases }}</h3>

  {% if case.legalProceedings == "No" %}
    <p class="govuk-body">{{ content.onGoingCasesNo }}</p>
  {% else %}
    <p class="govuk-body">{{ content.onGoingCasesYes }}</p>
    <p class="govuk-body">"{{ case.legalProceedingsDetails | striptags(true) | escape | nl2br }}"</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-1" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What jurisdiction means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-1" aria-hidden="true">
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionCourtsOfEnglandAndWales }}</p>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionEachLegalStatment }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansJurisdictionHabitualResidence }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionLivesAreMainlyBased }}</p>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionIncludeWorking }}</p>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionExamplesAbove }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansJurisdictionDomicile }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictiondomicileIsUsually }}</p>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionDomicileComplex }}</p>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionWhenBorn | safe }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.whatThisMeansJurisdictionCountryYourFather }}</li>
        <li>{{ content.whatThisMeansJurisdictionCountryYourMother }}</li>
      </ul>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionDomicileOfOrigin | safe }}</p>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionNotSure }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansJurisdictionResidualJurisdiction }}</h3>

      <p class="govuk-body">{{ content.whatThisMeansJurisdictionResidualJurisdiction1 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.whatThisMeansJurisdictionResidualJurisdiction2 }}</li>
        <li>{{ content.whatThisMeansJurisdictionResidualJurisdiction3 }}</li>
      </ul>
    <p class="govuk-body">{{ content.whatThisMeansJurisdictionResidualJurisdiction4 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.whatThisMeansJurisdictionResidualJurisdiction5 }}</li>
        <li>{{ content.whatThisMeansJurisdictionResidualJurisdiction6 }}</li>
        <li>{{ content.whatThisMeansJurisdictionResidualJurisdiction7 }}</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansJurisdictionOtherCourtCases }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansJurisdictionCourtNeedsToKnow }}</p>
    </div>
  </details>

  <!-- EOF Jurisdiction -->




  <!-- Reason for divorce -->

  <h2 class="govuk-heading-m">{{ content.reasonForDivorce }}</h2>

  {% if case.reasonForDivorce == "adultery" %}

    <p class="govuk-body">{{content.reasonForDivorceInfo}}</p>
    <p class="govuk-body">
      {% if case.reasonForDivorceAdulteryIsNamed == "Yes" %}
        {{ content.reasonForDivorceAdulteryCorrespondentNamed }}
      {% else %}
        {{ content.reasonForDivorceAdulteryCorrespondentNotNamed }}
      {% endif %}
    </p>

    <p class="govuk-body">{{ content.reasonForDivorceStatement }}</p>

    {% if case.reasonForDivorceAdulteryKnowWhere == "Yes" %}
      <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceAdulteryWhere }}</p>
      <p class="govuk-body">"{{ case.reasonForDivorceAdulteryWhereDetails | nl2br | safe }}"</p>
    {% endif %}

    {% if case.reasonForDivorceAdulteryKnowWhen == "Yes" %}
      <p class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceAdulteryWhen }}</p>
      <p class="govuk-body">"{{ case.reasonForDivorceAdulteryWhenDetails | nl2br | safe }}"</p>
    {% endif %}

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceAdulteryDescription }}</h3>
    <p class="govuk-body">"{{ case.reasonForDivorceAdulteryDetails | nl2br | safe }}"</p>
    {% if isAdulterySecondHandInfoProvided %}
      <p class="govuk-body">{{ content.statementOfSecondHandInformationAboutAdultery }}</p>
      <p class="govuk-body">"{{ case.reasonForDivorceAdulterySecondHandInfoDetails | nl2br | safe }}"</p>
    {% endif %}
  {% endif %}


  {% if case.reasonForDivorce == "unreasonable-behaviour" %}
  <p class="govuk-body">{{ content.reasonForDivorceBehaviourBrokendDown }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceUnreasonableBehaviourBrokenDown }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceUnreasonableBehaviourStatment }}</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceUnreasonableBehaviourDescription }}</h3>
    <p class="govuk-body">"
      {% for behaviourDetail in case.reasonForDivorceBehaviourDetails %}
        {% if behaviourDetail | length > 0 and behaviourDetail !== '\r' %}
          {{ behaviourDetail | nl2br | safe }}
          {% if not loop.last %}
            <br/>
            {% if behaviourDetail.slice(-1)  !== '\r' %}
              <br />
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    "</p>
  {% endif %}

  {% if case.reasonForDivorce == "separation-2-years" %}
    <p class="govuk-body">{{ content.reasonForDivorceSeperationTwoYearsBrokendDown }}
    <p class="govuk-body">{{ content.reasonForDivorceSeperationTwoYears }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.reasonForDivorceSeperationTwoYearsDecidedDate }}</li>
        <li>{{ content.reasonForDivorceSeperationTwoYearsLivingApartDate }}</li>
      </ul>
    <p class="govuk-body">{{ content.mostRecentDateIsSeperation }}</p>
  {% endif %}

  {% if case.reasonForDivorce == "separation-5-years" %}
    <p class="govuk-body">{{ content.reasonForDivorceSeperationFiveYearsBrokendDown }}
    <p class="govuk-body">{{ content.reasonForDivorceSeperationFiveYearsInfo }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.reasonForDivorceSeperationFiveYears.decidedDate }}</li>
        <li>{{ content.reasonForDivorceSeperationFiveYears.livingApartDate }}</li>
      </ul>
      <p class="govuk-body">{{ content.reasonForDivorceSeperationFiveYears.mostRecentDateConsidered }}</p>
  {% endif %}

  {% if case.reasonForDivorce == "desertion" %}
    <p class="govuk-body">{{ content.reasonForDivorceDesertionBrokendDown }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceDesertionInfo }}</p>
    <p class="govuk-body">{{ content.reasonForDivorceDesertion }}</p>
    {% if case.reasonForDivorceDesertionAgreed == "Yes" %}
       <p class="govuk-body">{{ content.reasonForDivorceDesertionAgreed }}</p>
    {% endif %}
    <p class="govuk-body">{{ content.reasonForDivorceDesertionStatment }}</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.reasonForDivorceDesertionDescription }}</h3>
    <p class="govuk-body">"{{ case.reasonForDivorceDesertionDetails | nl2br | safe }}"</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-2" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What reason for divorce means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-2" aria-hidden="true">
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceLegalGround }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceChosenReason }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceBehaviour }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceBehaviourDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceBehaviourDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceBehaviourDescription3 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceAdultery }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription3 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceAdulteryDescription4 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYears }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription3 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYears }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYearsDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYearsDescription2 }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansReasonForDivorceDesertion }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceDesertionDescription1 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceDesertionDescription2 }}</p>
      <p class="govuk-body">{{ content.whatThisMeansReasonForDivorceDesertionDescription3 }}</p>
    </div>
  </details>

  <!-- EOF Reason for divorce -->


  <!-- Additional applications  -->

  <h2 class="govuk-heading-m">{{ content.additionalApplications }}</h2>

  <!-- Cost Orders -->

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.costsOrders }}</h3>
  {% if case.claimsCosts == "Yes" %}
    {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom %}
      <p class="govuk-body">{{ content.claimingCostsFromRespondentCoRespondent }}</p>
    {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom %}
      <p class="govuk-body">{{ content.claimingCostsFromCoRespondent }}</p>
    {% else %}
      <p class="govuk-body">{{ content.claimingCostsFromRespondent }}</p>
    {% endif %}
  {% else %}
    <p class="govuk-body">{{ content.notClaimingForDivorce }}</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-3" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.whatThisMeansCostOrdersHelpWithCostsOrders }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-3" aria-hidden="true">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansCostOrdersClaimingCosts }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansCostOrdersApplicantWasAsked }}</p>
      <p class="govuk-body">{{ content.whatThisMeansCostOrdersFees }}</p>
    </div>
  </details>

  <!-- EOF Cost Orders -->

  <!-- Financial Orders -->

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.financialOrders }}</h3>
  {% if case.financialOrder == "Yes" %}
    {% if "petitioner" in case.financialOrderFor and "children" in case.financialOrderFor %}
      <p class="govuk-body">{{ content.financialOrdersPropertyMoneyPensionsChildren }}</p>
    {% elseif "children" in case.financialOrderFor %}
      <p class="govuk-body">{{ content.financialOrdersChildren }}</p>
    {% else %}
      <p class="govuk-body">{{ content.financialOrdersPropertyMoneyPensions }}</p>
    {% endif %}
  {% else %}
    <p class="govuk-body">{{ content.financialOrdersNone }}</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-4" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.whatThisMeansFinantialOrders }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-4" aria-hidden="true">
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersPropertyMoneyPensions }}</p>
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersChildren }}</p>
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersLegalProceedings }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansFinantialOrdersConsentOrders }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersSpltMoney }}</p>
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersConsentOrder }}</p>
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersLegalAdvice }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.whatThisMeansFinantialOrdersChildMaintenance }}</h3>
      <p class="govuk-body">{{ content.whatThisMeansFinantialOrdersCertainCircumstances }}</p>
    </div>
  </details>

  <!-- EOF Financial Orders -->

  <!-- EOF Additional applicationss -->


  <!-- Petitioner Address -->

  {% if case.petitionerContactDetailsConfidential == "share" %}
    <h2 class="govuk-heading-m">{{ content.applicantsCorrespondenceAddress }}</h2>

    {% if case.petitionersSolicitorName != "" and not(case.petitionerHomeAddress|length) %}
      <p class="govuk-body">{{ case.petitionersSolicitorName }}</p>
      <p class="govuk-body">{{ case.petitionersSolicitorFirm }}</p>
      <p class="govuk-body">{{ case.petitionersSolicitorAddress }}</p>
    {% else %}
      <p class="govuk-body">{{ case.petitionerHomeAddress.address | address | safe }}</p>
    {% endif %}
  {% endif %}
  <!-- EOF Petitioner Address -->

  <!-- Respondent Address -->
  {% if case.respondentContactDetailsConfidential == "share" %}
    <h2 class="govuk-heading-m">{{ content.respondentsCorrespondenceAddress }}</h2>
    {% if case.respondentSolicitorAddress|length %}
      <p class="govuk-body">{{ case.respondentSolicitorName }}</p>
      <p class="govuk-body">{{ case.respondentSolicitorCompany }}</p>
      <p class="govuk-body">{{ case.respondentSolicitorAddress.address | address | safe }}</p>
    {% else %}
      <p class="govuk-body">{{ case.respondentCorrespondenceAddress.address | address | safe }}</p>
    {% endif %}
  {% endif %}
  <!-- EOF Respondent Address -->

  <!-- CoRespondent Address -->
  {% if case.coRespondentContactDetailsConfidential == "NO" and case.reasonForDivorceAdultery3rdAddress|length %}
    <h2 class="govuk-heading-m">{{ content.coRespondentsCorrespondenceAddress }}</h2>
    <p class="govuk-body">{{ case.reasonForDivorceAdultery3rdAddress.address | address | safe }}</p>
  {% endif %}
  <!-- EOF CoRespondent Address -->

  <h2 class="govuk-heading-m">{{ content.statementOfTruth }}</h2>
  <p class="govuk-body">{{ content.statementOfTruthDescription }}</p>
  <p class="govuk-body"><em>{{ case.petitionerFirstName }} {{ case.petitionerLastName }}</em></p>

  <br>

  {% call formSection() %}
    {{ selectionButtons(fields.changes.hasBeenChanges, content.fields.changes.hasBeenChanges.title,
      hideQuestion = false,
      options = [
        { label: content.fields.changes.hasBeenChanges.yes, value: "yes", target: "yes-container" },
        { label: content.fields.changes.hasBeenChanges.no, value: "no", target: "no-container" }
      ],
      inline=true
    ) }}

    <div class="js-hidden" id="yes-container">
      {{ warningText({
          text: content.changeOrAddWarning,
          iconFallbackText: content.warning
      }) }}

      {{ textarea(
        fields.changes.changesDetails,
        content.fields.changes.changesDetails.title,
        bold=true
      ) }}

      <div class="confirmation-container govuk-!-padding-bottom-3">
        {{
          selectionButtons(
            fields.changes.statementOfTruthChanges,
            content.fields.changes.statementOfTruthChanges.title,
            options = [
              { label: content.fields.changes.statementOfTruthChanges.title, value: "yes" }
            ],
            hint=false,
            hideQuestion=true,
            inline=false,
            type='checkbox'
          )
        }}
      </div>
    </div>

    <div class="confirmation-container js-hidden  govuk-!-padding-bottom-5" id="no-container">
      {{
        selectionButtons(
          fields.changes.statementOfTruthNoChanges,
          content.statementOfTruth,
          options = [
            { label: content.fields.changes.statementOfTruthNoChanges.yes, value: "yes" }
          ],
          hint=false,
          hideQuestion=true,
          inline=false,
          type='checkbox'
        )
      }}
    </div>
  {% endcall %}

{% endblock %}
