{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorClass, errorsFor %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}
  <p class="text">{{ content.applicationStillTrue | safe }}</p>

  <h2 class="heading-medium">{{ content.applicationForDivorce }}</h2>

  <p class="text">
    {% if case.claimsCosts == "Yes" and case.financialOrderFor == "Yes" %}
      {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom  %}
        {{ content.costsPetitionerPayedByRespondentAndCorrispondent }}
      {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom  %}
        {{ content.costsPetitionerPayedByCorrespondent }}
      {% else %}
        {{ content.costsPetitionerPayedByRespondent }}
      {% endif %}
    {% elseif case.claimsCosts == "Yes" %}
      {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom %}
        {{ content.costsPetitionerDivorceCostsdByRespondentAndCorespondent }}
      {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom %}
        {{ content.costsPetitionerDivorceCostsdByCorespondent }}
      {% else %}
        {{ content.costsPetitionerDivorceCostsdByRespondent }}
      {% endif %}
    {% elseif case.financialOrderFor == "Yes" %}
      {{ content.costsPetitionerDivorceCostsdByFinantialOrder }}
    {% else %}
      {{ content.costsPetitionerDivorceNoCosts }}
    {% endif %}
  </p>

  <h3 class="heading-small">{{ content.issued }}</h3>
  <p class="text">{{ case.issueDate | date }}</p>

  <h3 class="heading-small">{{ content.applicant }}</h3>
  <p class="text">{{ case.petitionerFirstName }} {{ case.petitionerLastName }}</p>

  <h3 class="heading-small">{{ content.respondent }}</h3>
  <p class="text">{{ case.respondentFirstName }} {{ case.respondentLastName }}</p>

  <details>
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      <p class="text">{{ content.whatThisMeansApplicantRespondent }}</p>
    </div>
  </details>

  <!-- EOF Application for divorce -->

  <!-- CoRespondent -->

  {% if case.reasonForDivorce == "adultery" and case.reasonForDivorceAdulteryIsNamed == "Yes" %}
    <h3 class="heading-small">{{ content.coRespondent }}</h3>
    <p class="text">{{ case.reasonForDivorceAdultery3rdPartyFirstName }} {{ case.reasonForDivorceAdultery3rdPartyLastName }}</p>
  {% endif %}

  <!-- EOF CoRespondent -->


  <!-- About the marriage  -->

  <h2 class="heading-medium">{{ content.aboutTheMarriage }}</h2>

  <h3 class="heading-small">{{ content.whoMarriageIsBetween }}</h3>
  <p class="text">{{ content.marriageIsBetween }}</p>

  <h3 class="heading-small">{{ content.whereMarriageTookPlace }}</h3>
  <p class="text">{{ case.placeOfMarriage }}</p>

  <h3 class="heading-small">{{ content.dateOfMarriage }}</h3>
  <p class="text">{{ case.marriageDate | date }}</p>

  <details>
    <summary aria-controls="details-content-7" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-7" aria-hidden="true">
      <p class="text">{{ content.whatThisMeansDetailsCoppied }}</p>
    </div>
  </details>

  <!-- EOF About the marriage  -->


  <!-- Jurisdiction -->

  <h2 class="heading-medium">{{ content.jurisdiction }}</h2>

  {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
    <ul class="list-bullet">
  {% endif %}

    {% if "A" in case.connections %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothResident }}

      {% if case.connections|length > 1  and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "B" in case.connections %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionOneResides }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "C" in case.connections and (not ("A" in case.connections)) %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionRespondent }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "D" in case.connections %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitioner }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "E" in case.connections %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionPetitionerSixMonths }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "F" in case.connections %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionBothDomiciled }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

    {% if "G" in case.connections %}
      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        <li>
      {% endif %}

      {{ content.jurisdictionConnectionOther }}

      {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
        </li>
      {% endif %}
    {% endif %}

  {% if case.connections|length > 1 and case.connections != ["A", "C"] and case.connections != ["C", "A"] %}
    </ul>
  {% endif %}

  <br>

  <h3 class="heading-small">{{ content.otherCourtCases }}</h3>

  {% if case.legalProceedings == "No" %}
    <p class="text">{{ content.onGoingCasesNo }}</p>
  {% else %}
    <p class="text">{{ content.onGoingCasesYes }}</p>
    <p class="text">"{{ case.legalProceedingsDetails }}"</p>
  {% endif %}

  <details>
    <summary aria-controls="details-content-1" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
      <p class="text">{{ content.whatThisMeansJurisdictionCourtsOfEnglandAndWales }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionEachLegalStatment }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansJurisdictionHabitualResidence }}</h3>
      <p class="text">{{ content.whatThisMeansJurisdictionLivesAreMainlyBased }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionIncludeWorking }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionExamplesAbove }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansJurisdictionDomicile }}</h3>
      <p class="text">{{ content.whatThisMeansJurisdictiondomicileIsUsually }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionDomicileComplex }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionWhenBorn | safe }}</p>
      <ul class="bullet list-bullet">
        <li>{{ content.whatThisMeansJurisdictionCountryYourFather }}</li>
        <li>{{ content.whatThisMeansJurisdictionCountryYourMother }}</li>
      </ul>
      <p class="text">{{ content.whatThisMeansJurisdictionDomicileOfOrigin | safe }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionNotSure }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansJurisdictionResidualJurisdiction }}</h3>
      <p class="text">{{ content.whatThisMeansJurisdictionEligibleResidualJurisdiction }}</p>
      <p class="text">{{ content.whatThisMeansJurisdictionResidualJurisdictionComplex }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansJurisdictionOtherCourtCases }}</h3>
      <p class="text">{{ content.whatThisMeansJurisdictionCourtNeedsToKnow }}</p>
    </div>
  </details>

  <!-- EOF Jurisdiction -->




  <!-- Reason for divorce -->

  <h2 class="heading-medium">{{ content.reasonForDivorce }}</h2>

  {% if case.reasonForDivorce == "adultery" %}
    <p class="text">{{ content.reasonForDivorceAdultery }}</p>

    <p class="text">
      {% if case.reasonForDivorceAdulteryIsNamed == "Yes" %}
        {{ content.reasonForDivorceAdulteryCorrespondentNamed }}
      {% else %}
        {{ content.reasonForDivorceAdulteryCorrespondentNotNamed }}
      {% endif %}
    </p>

    <p class="text">"{{ case.reasonForDivorceAdulteryDetails }}"</p>

    {% if case.reasonForDivorceAdulteryKnowWhere == "Yes" %}
      <p class="heading-small">{{ content.reasonForDivorceAdulteryWhere }}</p>
      <p class="text">"{{ case.reasonForDivorceAdulteryWhereDetails }}"</p>
    {% endif %}

    {% if case.reasonForDivorceAdulteryKnowWhen == "Yes" %}
      <p class="heading-small">{{ content.reasonForDivorceAdulteryWhen }}</p>
      <p class="text">"{{ case.reasonForDivorceAdulteryWhenDetails }}"</p>
    {% endif %}
  {% endif %}

  {% if case.reasonForDivorce == "unreasonable-behaviour" %}
    <p class="text">{{ content.reasonForDivorceUnreasonableBehaviourBrokenDown }}</p>
    <p class="text">{{ content.reasonForDivorceUnreasonableBehaviourStatment }}</p>
    <h3 class="heading-small">{{ content.reasonForDivorceUnreasonableBehaviourDescription }}</h3>
    <p class="text">"{{ case.reasonForDivorceBehaviourDetails }}"</p>
  {% endif %}

  {% if case.reasonForDivorce == "separation-2-years" %}
    <p class="text">{{ content.reasonForDivorceSeperationTwoYearsBrokendDown }}
    <p class="text">{{ content.reasonForDivorceSeperationTwoYears }}</p>
  {% endif %}

  {% if case.reasonForDivorce == "separation-5-years" %}
    <p class="text">{{ content.reasonForDivorceSeperationFiveYearsBrokendDown }}
    <p class="text">{{ content.reasonForDivorceSeperationFiveYears }}</p>
  {% endif %}

  {% if case.reasonForDivorce == "desertion" %}
    <p class="text">{{ content.reasonForDivorceDesertionBrokendDown }}
    <p class="text">{{ content.reasonForDivorceDesertion }}</p>
    <p class="text">{{ content.reasonForDivorceDesertionStatment }}</p>
    <p class="text">"{{ case.reasonForDivorceDesertionDetails }}"</p>
  {% endif %}

  <details>
    <summary aria-controls="details-content-2" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
      <p class="text">{{ content.whatThisMeansReasonForDivorceLegalGround }}</p>
      <p class="text">{{ content.whatThisMeansReasonForDivorceChosenReason }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansReasonForDivorceBehaviour }}</h3>
      <p class="text">{{ content.whatThisMeansReasonForDivorceBehaviourDescription }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansReasonForDivorceAdultery }}</h3>
      <p class="text">{{ content.whatThisMeansReasonForDivorceAdulteryDescription }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYears }}</h3>
      <p class="text">{{ content.whatThisMeansReasonForDivorceSeparatedTwoYearsDescription }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYears }}</h3>
      <p class="text">{{ content.whatThisMeansReasonForDivorceSeparatedFiveYearsDescription }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansReasonForDivorceDesertion }}</h3>
      <p class="text">{{ content.whatThisMeansReasonForDivorceDesertionDescription }}</p>
    </div>
  </details>

  <!-- EOF Reason for divorce -->


  <!-- Additional applications  -->

  <h2 class="heading-medium">{{ content.additionalApplications }}</h2>

  <!-- Cost Orders -->

  <h3 class="heading-small">{{ content.costsOrders }}</h3>
  {% if case.claimsCosts == "Yes" %}
    {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom %}
      <p class="text">{{ content.claimingCostsFromRespondentCoRespondent }}</p>
    {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom %}
      <p class="text">{{ content.claimingCostsFromCoRespondent }}</p>
    {% else %}
      <p class="text">{{ content.claimingCostsFromRespondent }}</p>
    {% endif %}
  {% else %}
    <p class="text">{{ content.notClaimingForDivorce }}</p>
  {% endif %}

  <details>
    <summary aria-controls="details-content-3" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeansCostOrdersHelpWithCostsOrders }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-3" aria-hidden="true">
      <h3 class="heading-small">{{ content.whatThisMeansCostOrdersClaimingCosts }}</h3>
      <p class="text">{{ content.whatThisMeansCostOrdersApplicantWasAsked }}</p>
      <p class="text">{{ content.whatThisMeansCostOrdersFees }}</p>
    </div>
  </details>

  <!-- EOF Cost Orders -->

  <!-- Financial Orders -->

  <h3 class="heading-small">{{ content.financialOrders }}</h3>
  {% if case.financialOrder == "Yes" %}
    {% if "petitioner" in case.financialOrderFor and "children" in case.financialOrderFor %}
      <p class="text">{{ content.financialOrdersPropertyMoneyPensionsChildren }}</p>
    {% elseif "children" in case.financialOrderFor %}
      <p class="text">{{ content.financialOrdersChildren }}</p>
    {% else %}
      <p class="text">{{ content.financialOrdersPropertyMoneyPensions }}</p>
    {% endif %}
  {% else %}
    <p class="text">{{ content.financialOrdersNone }}</p>
  {% endif %}

  <details>
    <summary aria-controls="details-content-4" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeansFinantialOrders }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-4" aria-hidden="true">
      <p class="text">{{ content.whatThisMeansFinantialOrdersPropertyMoneyPensions }}</p>
      <p class="text">{{ content.whatThisMeansFinantialOrdersChildren }}</p>
      <p class="text">{{ content.whatThisMeansFinantialOrdersSolicitors }}</p>
      <p class="text">{{ content.whatThisMeansFinantialOrdersLegalProceedings }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansFinantialOrdersConsentOrders }}</h3>
      <p class="text">{{ content.whatThisMeansFinantialOrdersSpltMoney }}</p>
      <p class="text">{{ content.whatThisMeansFinantialOrdersConsentOrder }}</p>
      <p class="text">{{ content.whatThisMeansFinantialOrdersLegalAdvice }}</p>

      <h3 class="heading-small">{{ content.whatThisMeansFinantialOrdersChildMaintenance }}</h3>
      <p class="text">{{ content.whatThisMeansFinantialOrdersCertainCircumstances }}</p>
    </div>
  </details>

  <!-- EOF Financial Orders -->

  <!-- EOF Additional applicationss -->


  <!-- Petitioner Address -->

  {% if case.petitionerContactDetailsConfidential == "share" %}
    <h2 class="heading-medium">{{ content.applicantsCorrespondenceAddress }}</h2>

    {% if case.respondentSolicitorName != "" and not(case.petitionerHomeAddress|length) %}
      <p class="text">{{ petitionersSolicitorName }}</p>
      <p class="text">{{ petitionersSolicitorFirm }}</p>
      <p class="text">{{ petitionersSolicitorAddress }}</p>
    {% else %}
      <p class="text">{{ case.petitionerHomeAddress.address | address | safe }}</p>
    {% endif %}
  {% endif %}

  <!-- EOF Petitioner Address -->

  <!-- Respondent Address -->

  <h2 class="heading-medium">{{ content.respondentsCorrespondenceAddress }}</h2>
  {% if case.respondentSolicitorAddress|length %}
    <p class="text">{{ case.respondentSolicitorName }}</p>
    <p class="text">{{ case.respondentSolicitorCompany }}</p>
    <p class="text">{{ case.respondentSolicitorAddress.address | address | safe }}</p>
  {% else %}
    <p class="text">{{ case.respondentCorrespondenceAddress.address | address | safe }}</p>
  {% endif %}

  <!-- EOF Respondent Address -->




  <!-- CoRespondent Address -->

  {% if case.reasonForDivorceAdultery3rdAddress|length %}
    <h2 class="heading-medium">{{ content.coRespondentsCorrespondenceAddress }}</h2>
    <p class="text">{{ case.reasonForDivorceAdultery3rdAddress.address | address | safe }}</p>
  {% endif %}

  <!-- EOF CoRespondent Address -->




  <h2 class="heading-medium">{{ content.statementOfTruth }}</h2>
  <p class="text">{{ content.statementOfTruthDescription }}</p>


  {% call formSection() %}
    {{ selectionButtons(fields.changes.hasBeenChanges, content.fields.changes.hasBeenChanges.title,
      hideQuestion = false,
      options = [
        { label: content.fields.changes.hasBeenChanges.yes, value: "yes", target: "yes-container" },
        { label: content.fields.changes.hasBeenChanges.no, value: "no", target: "no-container" }
      ],
      inline=true
    ) }}

    <div class="js-hidden" id="yes-container">
      <div class="notice">
        <em class="icon icon-important">
          <span class="visuallyhidden"></span>
        </em>
        <p class="bold-small">{{ content.changeOrAddWarning }}</p>
      </div>
      <div class="form-group {{ errorClass(fields.changes.changesDetails) }}">
        <label class="form-label-bold"
               for="{{ fields.changes.changesDetails.id }}">
          {{ content.fields.changes.changesDetails.title }}
        </label>
        {{ errorsFor(fields.changes.changesDetails) }}
        <textarea class="form-control"
           id="{{ fields.changes.changesDetails.id }}"
           name="{{ fields.changes.changesDetails.id }}"
           rows="4">{% if fields.changes.changesDetails.value %}{{ fields.changes.changesDetails.value }}{% endif %}</textarea>
      </div>

      <div class="confirmation-container">
        {{
          selectionButtons(
            fields.changes.statementOfTruthChanges,
            content.fields.changes.statementOfTruthChanges.title,
            options = [
              { label: content.fields.changes.statementOfTruthChanges.title, value: "yes" }
            ],
            hint=false,
            hideQuestion=true,
            inline=false,
            type='checkbox'
          )
        }}
      </div>
    </div>

    <div class="confirmation-container js-hidden" id="no-container">
      {{
        selectionButtons(
          fields.changes.statementOfTruthNoChanges,
          content.statementOfTruth,
          options = [
            { label: content.fields.changes.statementOfTruthNoChanges.yes, value: "yes" }
          ],
          hint=false,
          hideQuestion=true,
          inline=false,
          type='checkbox'
        )
      }}
    </div>
  {% endcall %}

{% endblock %}
