
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.costsOrder.title }}</h3>
  {% if exist(consts.respAgreeToCosts) %}
    <p class="govuk-body">{{ content.costsOrder.agreedToPayCosts }}</p>
  {% elif notExist(consts.respAgreeToCosts) %}
    <p class="govuk-body">{{ content.costsOrder.notAgreedToPayCosts }}</p>
    <div class="govuk-details__text govuk-!-margin-bottom-4">
      <p class="govuk-body">"{{ case.respCostsReason | nl2br | safe }}"</p>
    </div>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-2" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What costs order means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-2" aria-hidden="true">
      <p class="govuk-body">{{ content.costsOrder.respondentWasAskedPayCosts }}</p>
      <p class="govuk-body">{{ content.costsOrder.followingOptions }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.costsOrder.payCosts }}</li>
        <li>{{ content.costsOrder.notPayCosts }}</li>
      </ul>
      <br>
      <p class="govuk-body">{{ content.costsOrder.chanceToChangeAmount }}</p>
    </div>
  </details>
