
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.respProceed.title }}</h3>
  {% if notExist(consts.respWillDefendDivorce) %}
     <p class="govuk-body">{{ content.respProceed.willLetDivorceProceed }}</p>
  {% elif notAccepted(consts.respWillDefendDivorce) %}
     <p class="govuk-body">{{ content.respProceed.letDivorceProceedButNotAdmit }}</p>
  {% elif exist(consts.respWillDefendDivorce) %}
     <p class="govuk-body">{{ content.respProceed.willDefendDivorce }}</p>
  {% endif %}

  {% if adultery %}
    {% if exist(consts.respAdmitOrConsentToFact) %}
        <p class="govuk-body">{{ content.respProceed.adultery.admitsAdultery }}</p>
    {% elif notExist(consts.respAdmitOrConsentToFact) %}
        <p class="govuk-body">{{ content.respProceed.adultery.doesNotAdmitAdultery }}</p>
    {% endif %}
  {% endif %}

  {% if sep2yr %}
     {% if exist(consts.respAdmitOrConsentToFact) %}
        <p class="govuk-body">{{ content.respProceed.sep2Yr.respConsent }}</p>
     {% elif notExist(consts.respAdmitOrConsentToFact) %}
         <p class="govuk-body">{{ content.respProceed.sep2Yr.respDoesNotContent }}</p>
     {% endif %}
  {% endif %}

  {% if sep5yr and exist(consts.respWillDefendDivorce) %}
    {% if exist(consts.respHardshipDefenseResponse) %}
      <p class="govuk-body">{{ content.respProceed.sep5Yr.defendingFinancialHardship }}</p>
      <div class="govuk-details__text govuk-!-margin-bottom-4">
        <p class="govuk-body">"{{ case.respHardshipDescription | nl2br | safe }}"</p>
      </div>
    {% elif notExist(consts.respHardshipDefenseResponse) %}
      <p class="govuk-body">{{ content.respProceed.sep5Yr.notDefendingFinancialHardship }}</p>
    {% endif %}
  {% endif %}

  {% if sep2yr or sep5yr %}
    {% if exist(consts.respConsiderFinancialSituation) %}
         <p class="govuk-body">{{ content.respProceed.sep.intendingToDelayDivorce }}</p>
    {% elif notExist(consts.respConsiderFinancialSituation) %}
      <p class="govuk-body">{{ content.respProceed.sep.notIntendingToDelayDivorce }}</p>
     {% endif %}
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What how the respondent wants to proceed means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <p class="govuk-body">{{ content.respProceed.givenOptions }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.respProceed.proceedWithDivorce }}</li>
        {% if behaviour or desertion %}
          <li>{{ content.respProceed.proceedNotAccept }}</li>
        {% endif %}
        <li>{{ content.respProceed.disagree }}</li>
      </ul>
    </div>
  </details>