
  <h3 class="heading-small">{{ content.respProceed.title }}</h3>
  {% if notExist(consts.respDefendsDivorce) and exist(consts.respAdmitOrConsentToFact) %}
     <p class="text">{{ content.respProceed.willLetDivorceProceed }}</p>
  {% elif notExist(consts.respDefendsDivorce) and notExist(consts.respAdmitOrConsentToFact) %}
     <p class="text">{{ content.respProceed.letDivorceProceedButNotAdmit }}</p> 
  {% elif exist(consts.respDefendsDivorce) and notExist(consts.respAdmitOrConsentToFact) %}
     <p class="text">{{ content.respProceed.willDefendDivorce }}</p>
  {% endif %}

  {% if adultery %}
    {% if exist(consts.respAdmitOrConsentToFact) %}
        <p class="text">{{ content.respProceed.adultery.admitsAdultery }}</p>
    {% elif notExist(consts.respAdmitOrConsentToFact) %}
        <p class="text">{{ content.respProceed.adultery.doesNotAdmitAdultery }}</p>
    {% endif %}
  {% endif %}

  {% if sep2yr %}
     {% if exist(consts.respAdmitOrConsentToFact) %}
        <p class="text">{{ content.respProceed.sep2Yr.respConsent }}</p>
     {% elif notExist(consts.respAdmitOrConsentToFact) %}
         <p class="text">{{ content.respProceed.sep2Yr.respDoesNotContent }}</p>
     {% endif %}
  {% endif %}

  {% if sep5yr and exist(consts.respDefendsDivorce) %}
    {% if exist(consts.respHardshipDefenseResponse) %}
      <p class="text">{{ content.respProceed.sep5Yr.defendingFinancialHardship }}</p>
      <div class="panel panel-border-narrow">
        <p class="text">"{{ case.respHardshipDescription | safe }}"</p>
      </div>
    {% elif notExist(consts.respHardshipDefenseResponse) %}
      <p class="text">{{ content.respProceed.sep5Yr.notDefendingFinancialHardship }}</p>
    {% endif %}
  {% endif %}

  {% if sep2yr or sep5yr %}
    {% if exist(consts.respConsiderFinancialSituation) %}
         <p class="text">{{ content.respProceed.sep.intendingToDelayDivorce }}</p>
    {% elif notExist(consts.respConsiderFinancialSituation) %}
      <p class="text">{{ content.respProceed.sep.notIntendingToDelayDivorce }}</p>
     {% endif %}
  {% endif %}

  <details>
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      <p class="text">{{ content.respProceed.givenOptions }}</p>

      <ul class="bullet list-bullet">
        <li>{{ content.respProceed.proceedWithDivorce }}</li>
        <li>{{ content.respProceed.proceedNotAccept }}</li>
        <li>{{ content.respProceed.disagree }}</li>
      </ul>
    </div>
  </details>