
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.jurisdiction.title }}</h3>

  {% if exist(consts.respJurisdictionAgree) %}
    <p class="govuk-body">{{ content.jurisdiction.respondentAgrees }}</p>
  {% elif notExist(consts.respJurisdictionAgree) %}
    <p class="govuk-body">{{ content.jurisdiction.respDoesNotAgree }}</p>

    <p class="govuk-body">{{ content.jurisdiction.detailsGiven }}</p>
    <div class="govuk-details__text govuk-!-margin-bottom-4">
      <p class="govuk-body">"{{ case.respJurisdictionDisagreeReason | nl2br | safe }}"</p>
    </div>

    <p class="govuk-body">{{ content.jurisdiction.countryTheyResp }}</p>
    <div class="govuk-details__text govuk-!-margin-bottom-4">
      <p class="govuk-body">"{{ case.respJurisdictionRespCountryOfResidence | nl2br | safe }}"</p>
    </div>
  {% endif %}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.jurisdiction.otherCourtDetails }}</h3>

  {% if exist(consts.respLegalProceedingsExist) %}
    <p class="govuk-body">{{ content.jurisdiction.otherProceedings }}</p>
    <p class="govuk-body">{{ content.jurisdiction.detailsGiven }}</p>
    <div class="govuk-details__text govuk-!-margin-bottom-4">
      <p class="govuk-body">"{{ case.respLegalProceedingsDescription | nl2br | safe }}"</p>
    </div>
  {% elif notExist(consts.respLegalProceedingsExist) %}
    <p class="govuk-body">{{ content.jurisdiction.noOtherProceedings }}</p>
  {% endif %}

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-1" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What jurisdiction or other court cases means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-1" aria-hidden="true">
      <p class="govuk-body">{{ content.jurisdiction.respondentWasAsked }}</p>
      <p class="govuk-body">{{ content.jurisdiction.courtProceedings }}</p>
    </div>
  </details>