{% extends "page.njk" %}

{% set title %}
  {{ content.title | safe }}
{% endset %}


{% block main_content %}
  {% if case.respSolicitorRepresented === consts.yes %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.respSolicitorRepresented }}</h3>
  {% endif %}
  <p class="govuk-body">{{ content.youNeedToRead | safe }}</p>

  <h2 class="govuk-heading-m">{{ content.acknowledgementOfSrvice }}</h2>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.respondent }}</h3>
  <p class="govuk-body">{{ case.respondentFirstName }} {{ case.respondentLastName }}</p>

  {% if case.reasonForDivorceAdulteryWishToName == "Yes" %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.corespondent }}</h3>
    <p class="govuk-body">{{ case.reasonForDivorceAdultery3rdPartyFirstName }} {{ case.reasonForDivorceAdultery3rdPartyLastName }}</p>
  {% endif %}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.applicant }}</h3>
  <p class="govuk-body">{{ case.petitionerFirstName }} {{ case.petitionerLastName }}</p>

  {% include "./howRespondentProceed.html" %}
  {% include "./jurisdiction.html" %}
  {% include "./costOrder.html" %}

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.statementOfTruth.title }}</h3>
  <p class="govuk-body">{{ content.statementOfTruth.details }}</p>
  <p class="govuk-body"><em>{{ case.respondentFirstName }} {{ case.respondentLastName }}</em></p>
{% endblock %}
