{% extends "page.njk" %}

{% set title %}
  {{ content.title | safe }}
{% endset %}


{% block main_content %}
  {% if exist(consts.respSolicitorRepresented) %}
    <h3 class="heading-small">{{ content.respSolicitorRepresented }}</h3>
  {% endif %}
  <p class="text">{{ content.youNeedToRead | safe }}</p>

  <h2 class="heading-medium">{{ content.acknowledgementOfSrvice }}</h2>

  <h3 class="heading-small">{{ content.respondent }}</h3>
  <p class="text">{{ case.respondentFirstName }} {{ case.respondentLastName }}</p>

  {% if case.reasonForDivorceAdulteryWishToName == "Yes" %}
    <h3 class="heading-small">{{ content.corespondent }}</h3>
    <p class="text">{{ case.reasonForDivorceAdultery3rdPartyFirstName }} {{ case.reasonForDivorceAdultery3rdPartyLastName }}</p>
  {% endif %}

  <h3 class="heading-small">{{ content.applicant }}</h3>
  <p class="text">{{ case.petitionerFirstName }} {{ case.petitionerLastName }}</p>
  
  {% include "./howRespondentProceed.html" %}
  {% include "./jurisdiction.html" %}
  {% include "./costOrder.html" %}

  <h3 class="heading-small">{{ content.statementOfTruth.title }}</h3>
  <p class="text">{{ content.statementOfTruth.details }}</p>
  <p class="text"><em>{{ case.respondentFirstName }} {{ case.respondentLastName }}</em></p>
{% endblock %}
