{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="govuk-body">{{ content.amendOrAdd | safe }}</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.readMore }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <p class="govuk-body">{{ content.orderForDivorce }}</p>

      <ol class="govuk-list govuk-list--number">
        <li>{{ content.decreeNisi }}</li>
        <li>{{ content.decreeAbsolute }}</li>
      </ol>

      <p class="govuk-body">{{ content.courtCanCancel }}</p>
    </div>
  </details>

  {% call formSection() %}
    {{ selectionButtons(fields.applyForDecreeNisi, content.fields.applyForDecreeNisi.title,
      options = [
        { label: content.fields.applyForDecreeNisi.yes, value: "yes" },
        { label: content.fields.applyForDecreeNisi.no, value: "no", target: "no-container"}
      ],
      hint=false,
      hideQuestion=true,
      inline=true,
      type='radio'
    ) }}
  {% endcall %}

  <!-- Dropdown area if answered no -->
  <div class="js-hidden govuk-details__text govuk-!-margin-bottom-3" id="no-container">
    <p class="govuk-body">{{ content.signOutDetail | safe}}</p>
  </div>

{% endblock %}
