<details class="govuk-details">
    <summary class="govuk-body-s">
        <span class="summary">{{ content.problemWithThisPage | safe }}</span>
    </summary>
    <div class="govuk-details__text">
        <p class="text">
            {{ content.pleaseEmailOrCallDivorceCourt | safe }}
        </p>

        <p class="text">
            {{ content.phoneToCallIfProblems | safe }}
        </p>

        <p class="text">
            {{ content.emailIfProblems | safe }}
        </p>
    </div>
</details>
