node_modules/*
docs/*
govuk_modules/*
public/*
app/assets/javascripts/*
app/assets/main.js
app/steps/sitemap/*
lib/*
coverage/*
test/crossbrowser/reports/*
webpack.config.js
Gruntfile.js
dist
functional-output/*
assets/main.js
