{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, date, errorClass, errorsFor %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="govuk-body">{{ content.whenAdulteryFound }}</p>

  <br>

  {% call formSection() %}

    {{ date(fields.adulteryFirstFoundDate, content.fields.adulteryFirstFoundDate.question,
      hideQuestion = true,
      hint = content.fields.adulteryFirstFoundDate.hint,
      labels = {
        day: content.fields.adulteryFirstFoundDate.dayLabel,
        month: content.fields.adulteryFirstFoundDate.monthLabel,
        year: content.fields.adulteryFirstFoundDate.yearLabel
      }
    ) }}

    {% endcall %}


{% endblock %}
