{% set items = {
  one: {
    label: content.youApply,
    complete: true
  },
  two: {
    label: content.husbandWifeMustRespond,
    complete: true
  },
  three: {
    label: content.getDecreeNisi,
    current: true
  },
  four: {
    label: content.madeFinal
  }
}
%}

{% include "reform-progress-list/template.njk" %}

{% if case.respAdmitOrConsentToFact == "Yes" %}
  <h2 class="heading-medium">{{ content.rRadmitsAdulteryYouCanContinue }}</h2>
  <p class="text">{{ content.rRadmitsAdulteryWontPrevent }}</p>
  <p class="text">{{ content.rRadmitsAdulteryYouCanNowContinue }}</p>

  <details>
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">{{ content.rRadmitsAdulteryReadMore }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      <p class="text">{{ content.rRadmitsAdulteryOrderForDivorce }}</p>

      <ol class="bullet list-number">
        <li>{{ content.rRadmitsAdulteryCourtAgrees }}</li>
        <li>{{ content.rRadmitsAdulteryCannotBeMade6Weeks }}</li>
      </ol>

      <p class="text">{{ content.rRadmitsAdulteryUntilTheDecreeAbsolute }}</p>
    </div>
  </details>
  <br>
{% endif %}

{% if case.respAdmitOrConsentToFact == "No" %}
  <h2 class="heading-medium">{{ content.rRdoesNotAdmitAdulteryTitle }}</h2>
  <p class="text">{{ content.rRdoesNotAdmitAdulteryTheFact }}</p>
  <p class="text">{{ content.rRdoesNotAdmitAdulteryToMoveForwardYouNeedTo }}</p>
  <ul class="bullet list-bullet">
      <li>{{ content.rRdoesNotAdmitAdulteryChangeReasonForDivorce }}</li>
      <li>{{ content.rRdoesNotAdmitAdulteryProvideEvidenceOfTheAdultery }}</li>
  </ul>
  <br>
  <p class="text">{{ content.rRdoesNotAdmitAdulteryYouCanRead }}</p>
{% endif %}

<form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">

    <input class="button button-start" type="submit" value="{{ content.continue }}">
</form>