{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}
{% from "components/clarification-feedback.njk" import clarificationFeedback %}

{% set title %}
  {% if isAwaitingClarification %}
    {{ content.clarification.title | safe }}
  {% elseif respNotAdmittedAdultery %}
    {{ content.adultery.title | safe }}
  {% else %}
    {{ content.otherReasons.title | safe }}
  {% endif %}
{% endset %}

{% block fields %}

  {% if isAwaitingClarification %}
    <details class="govuk-details">
      <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
        <span class="govuk-details__summary-text">{{ content.clarification.needToProvide }}</span>
      </summary>
      <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
        {{ clarificationFeedback(case, content.clarificationCourtFeedback) }}
      </div>
    </details>

    <p class="govuk-body">{{ content.clarification.extraDocs | safe }}</p>
  {% elseif respNotAdmittedAdultery %}
    <p class="govuk-body">{{ content.adultery.adulteryDoc | safe }}</p>
    <p class="govuk-body">{{ content.adultery.extraDocs | safe }}</p>
  {% else %}
     <p class="govuk-body">{{ content.otherReasons.extraDocuments | safe }}</p>
  {% endif %}

  {% call formSection() %}
    {{ selectionButtons(fields.upload, content.fields.upload.title,
      options = [
        { label: content.fields.upload.yes, value: "yes", target: "yes-container" },
        { label: content.fields.upload.no, value: "no" }
      ],
      hint=false,
      hideQuestion=true,
      inline=true,
      type='radio'
    ) }}
  {% endcall %}

{% endblock %}
