{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
  {% if respNotAdmittedAdultery %}
    {{ content.adultery.title | safe }}
  {% else %}
    {{ content.otherReasons.title | safe }}
  {% endif %}
{% endset %}

{% block fields %}


  {% if respNotAdmittedAdultery %}
    <p class="text">{{ content.adultery.adulteryDoc | safe }}</p>
    <p class="text">{{ content.adultery.extraDocs | safe }}</p>
  {% else %}
     <p class="text">{{ content.otherReasons.extraDocuments | safe }}</p>
  {% endif %}

  {% call formSection() %}
    {{ selectionButtons(fields.upload, content.fields.upload.title,
      options = [
        { label: content.fields.upload.yes, value: "yes", target: "yes-container" },
        { label: content.fields.upload.no, value: "no" }
      ],
      hint=false,
      hideQuestion=true,
      inline=true,
      type='radio'
    ) }}
  {% endcall %}

{% endblock %}
