{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorClass, errorsFor, textarea %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="govuk-body">{{ content.livingApart | safe }}</p>

  <br>

  {% call formSection() %}
    {{ selectionButtons(fields.changes.livedApartSinceLastIncidentDate, content.fields.changes.livedApartSinceLastIncidentDate.title,
      options = [
        { label: content.fields.changes.livedApartSinceLastIncidentDate.yes, value: "yes" },
        { label: content.fields.changes.livedApartSinceLastIncidentDate.no, value: "no", target: "no-container" }
      ],
      hint=false,
      hideQuestion=true,
      inline=true,
      type='radio'
    ) }}
  {% endcall %}


<!-- Dropdown area if answered no -->
  <div class="js-hidden" id="no-container">
    <h3 class="govuk-heading-m">{{ content.detailsHowLongLivedTogetherSinceLastIncidentDate }}</h3>
    <p class="govuk-body">{{ content.detailsHowLongLivedTogetherSinceLastIncidentDateDetail | safe }}</p>

    {{ textarea(
      fields.changes.approximateDatesOfLivingTogetherField,
      content.fields.changes.approximateDatesOfLivingTogetherField.title
    ) }}
  </div>
<!-- end of dropdown area -->

{% endblock %}
