{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorClass, errorsFor %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="text">{{ content.livingApart | safe }}</p>

  <br>

  {% call formSection() %}
    {{ selectionButtons(fields.changes.livedApartSinceLastIncidentDate, content.fields.changes.livedApartSinceLastIncidentDate.title,
      options = [
        { label: content.fields.changes.livedApartSinceLastIncidentDate.yes, value: "yes" },
        { label: content.fields.changes.livedApartSinceLastIncidentDate.no, value: "no", target: "no-container" }
      ],
      hint=false,
      hideQuestion=true,
      inline=true,
      type='radio'
    ) }}
  {% endcall %}


<!-- Dropdown area if answered no -->
  <div class="js-hidden" id="no-container">
    <h3 class="heading-medium">{{ content.detailsHowLongLivedTogetherSinceLastIncidentDate }}</h3>
    <p class="text">{{ content.detailsHowLongLivedTogetherSinceLastIncidentDateDetail | safe }}</p>

    <div class="form-group {{ errorClass(fields.changes.approximateDatesOfLivingTogetherField) }}">
      <label class="form-label-bold"
             for="{{ fields.changes.approximateDatesOfLivingTogetherField.id }}">
        {{ content.fields.changes.approximateDatesOfLivingTogetherField.title }}
      </label>
      {{ errorsFor(fields.changes.approximateDatesOfLivingTogetherField) }}
      <textarea class="form-control"
                id="{{ fields.changes.approximateDatesOfLivingTogetherField.id }}"
                name="{{ fields.changes.approximateDatesOfLivingTogetherField.id }}"
                rows="4">{% if fields.changes.approximateDatesOfLivingTogetherField.value %}{{ fields.changes.approximateDatesOfLivingTogetherField.value }}{% endif %}</textarea>
    </div>
  </div>
<!-- end of dropdown area -->

{% endblock %}
