{% extends "page.njk" %}

{% set titleSize = 'large' %}


{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
<p class="govuk-body">{{ content.ifYouWantYour | safe }}</p>
<p class="govuk-body">{{ content.amendmentFee | safe }}</p>
<div class="govuk-inset-text">
  <p class="govuk-body">{{ content.notAbleToRead | safe }}</p>
</div>
<br>
<form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">
  <input role="button" draggable="false" class="govuk-button govuk-button--start" type="submit" value="{{ content.start }}">
</form>
<br>
{% endblock %}