{% extends "page.njk" %}

{% set titleSize = 'large' %}


{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
<p class="text">{{ content.ifYouWantYour | safe }}</p>
<p class="text">{{ content.amendmentFee | safe }}</p>
<div class="panel panel-border-wide">
  <p class="text">{{ content.notAbleToRead | safe }}</p>
</div>
<br>
<form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">
  <input class="button button-start" type="submit" value="{{ content.start }}">
</form>
<br>
{% endblock %}