{% extends "question.njk" %}

{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/check-your-answers.njk" import answer %}
{% from "look-and-feel/components/fields.njk" import hiddenInput %}
{% from "look-and-feel/components/errors.njk" import errorSummary %}

{% set titleSize = titleSize | default('large') %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block full_width %}
  <div class="grid-row">
    <div class="column-full">
      {{ errorSummary(fields) }}

      {{ header(title, size=titleSize) }}

      {% for section in _sections %}

        {% if section.atLeast1Completed %}
          {% if section.title and _sections|length > 1 %}
            {{ header(section.title, size='medium') }}
          {% endif %}

            {% for part in section.completedAnswers %}
              {% if not part.hide %}
                {% if part.html %}
                  {{ part.html | safe }}
                {% else %}
                  {{ answer(part.question, part.answer, part.url, part.id) }}
                {% endif %}
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endfor %}

      {% if incomplete %}
        {% block continue_application %}
          <br>
          <a href="{{ continueUrl }}" class="button">{{ pageContent.continue | default(defaultContent.continue) }}</a>
          <br>
        {% endblock %}
      {% endif %}

      {% if complete %}
        {% block statement_of_truth_content %}{% endblock %}
        <form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">

          {% block statement_of_truth_fields %}
            {{ hiddenInput(fields.statementOfTruth, value='yes') }}
          {%- endblock %}

          <input type="hidden" name="_csrf" value="{{ csurfCsrfToken }}">
          <input class="button" type="submit" value="{{ pageContent.sendApplication | default(defaultContent.sendApplication) }}">
        </form>
      {% endif %}
      <br>
      {% include "includes/problem_with_this_page.html" %}
    </div>
  </div>
{% endblock %}
