{% extends "question.njk" %}

{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/check-your-answers.njk" import answer %}
{% from "look-and-feel/components/fields.njk" import hiddenInput %}
{% from "look-and-feel/components/errors.njk" import errorSummary %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set titleSize = titleSize | default("l") %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block bodyStart %}
  {% set serviceName = 'Divorce' %}
  {% if features.dynatrace %}
  <div id="global-cookie-message">
    {% include "includes/cookies/cookie-manager/cookie-banner.njk" %}
  </div>
  {% endif %}
  <noscript>
    <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
  </noscript>
{% endblock %}

{% block full_width %}
  <div class="grid-row">
    <div class="column-full">
    {{ warningText({
            text: "Please note that due to a technical error some users may have received a copy of an old petition and acknowledgement of service pack. If the same divorce case number has already concluded with a Decree Absolute, or you have already responded to this, please rely on your portal to confirm the latest position.",
            iconFallbackText: "Information"
          }) }}
      {{ errorSummary(fields) }}

      {{ header(title, size=titleSize) }}

      {% block preResults %}{% endblock %}

      <table class="govuk-table">
        <caption class="govuk-table__caption">
          <span class="govuk-visually-hidden">{{ pageContent.summaryTableCaption }}</span>
        </caption>
        <tbody class="govuk-table__body">

          {% for section in _sections %}

            {% if section.atLeast1Completed %}
              {% if section.title and _sections|length > 1 %}
                {{ header(section.title, size="m") }}
              {% endif %}
                {% for answerContent in section.completedAnswers %}
                  {% if not answerContent.hide %}
                    {% if answerContent.html %}
                      {{ answerContent.html | safe }}
                    {% else %}
                      {{ answer(answerContent.question, answerContent.answer, answerContent.url, answerContent.id, content) }}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      {% if incomplete %}
        {% block continue_application %}
          <br>
          <a class="govuk-button" href="{{ continueUrl }}" class="govuk-button" aria-label="Continue application link">{{ pageContent.continue | default(defaultContent.continue) }}</a>
          <br>
        {% endblock %}
      {% endif %}

      {% if complete %}
        {% block statement_of_truth_content %}{% endblock %}
        <form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">

          {% block statement_of_truth_fields %}
            {{ hiddenInput(fields.statementOfTruth, value="yes") }}
          {%- endblock %}

          <input type="hidden" name="_csrf" value="{{ csurfCsrfToken }}">
          <input class="govuk-button" type="submit" value="{{ pageContent.sendApplication | default(defaultContent.sendApplication) }}">
        </form>
      {% endif %}
      <br>
      {% include "includes/problem_with_this_page.html" %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script type="text/javascript" src="{{ asset_path }}main.js"></script>
{% endblock %}
