@import 'govuk-elements';
@import 'look-and-feel/check-your-answers';
@import 'look-and-feel/add-another';
@import 'look-and-feel/language-switch';
@import 'look-and-feel/text-reference';
@import 'look-and-feel/progress-list';
@import 'look-and-feel/document-list';
@import './file-upload';

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.govuk-related-items .heading-medium {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.govuk-related-items li {
  margin-bottom: 10px;
  list-style-type: none;
}

.confirmation-container {
  background: #dee0e2;
  padding: 25px;

  .form-section {
    margin: 0;
  }

  .multiple-choice [type=checkbox] + label::before {
    background: #fff;
  }

  > .list-bullet {
    padding-left: 70px;
  }
  > .text {
    margin-left: 50px;
  }
  > details {
    margin-left: 50px;
  }
}

.govuk-check-your-answers {
  .cya-question {
    font-weight: normal;
  }
}

.text {
  max-width: none !important;
}

#sign-out {
  float: right;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

#sign-out:hover {
  text-decoration: underline;
}

textarea.form-control {
  width: 100%;
}

.notice p {
    padding-left: 65px;
    margin-left: -15px;
}

.exit-guidance {
  border-bottom: 1px solid grey;
  padding-bottom: 6px;
  padding-top: 12px;

  summary span {
    text-decoration: none;
    font-weight: 700;
  }
}
