@import '~govuk-frontend/all.scss';
@import 'look-and-feel/check-your-answers';
@import 'look-and-feel/add-another';
@import 'look-and-feel/language-switch';
@import 'look-and-feel/text-reference';
@import 'look-and-feel/progress-list';
@import 'look-and-feel/document-list';
@import 'look-and-feel/related-items';
@import 'look-and-feel/gov-uk-frontend-toolkit-backward-compatible';
@import 'look-and-feel/confirmation-statement';
@import 'file-upload';
@import 'phase_banner';

.govuk-check-your-answers {
  .cya-question {
    font-weight: normal;
  }
}

.text {
  max-width: none !important;
}

#sign-out {
  float: right;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

#sign-out:hover {
  text-decoration: underline;
}

textarea.form-control {
  width: 100%;
}

.notice p {
    padding-left: 65px;
    margin-left: -15px;
}

.exit-guidance {
  border-bottom: 1px solid grey;
  padding-bottom: 6px;
  padding-top: 12px;

  summary span {
    text-decoration: none;
    font-weight: 700;
  }
}

#cya-upload-your-uploaded-documents ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.court-feedback {
  border-color: $govuk-error-colour;
  border-width: 7px;
}
