{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorClass, errorsFor, textarea %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="govuk-body">{{ content.livedApartSince | safe }}</p>

  <div class="govuk-inset-text">
    <p class="govuk-body">{{ content.livingApart }}</p>
  </div>

  <br>

  {% call formSection() %}
    {{ selectionButtons(fields.livedApart.livedApartSinceAdultery, content.fields.livedApart.livedApartSinceAdultery.title,
      options = [
        { label: content.fields.livedApart.livedApartSinceAdultery.yes, value: "yes" },
        { label: content.fields.livedApart.livedApartSinceAdultery.no, value: "no", target: "no-container" }
      ],
      hint=false,
      hideQuestion=true,
      inline=true,
      type='radio'
    ) }}
  {% endcall %}

  <div class="js-hidden" id="no-container">

    <h2 class="govuk-heading-m">{{ content.detailsHowLongLivedTogether }}</h2>

    <p class="govuk-body">{{ content.actOfAdultery }}</p>
    <p class="govuk-body">{{ content.togetherAndOff }}</p>
    <p class="govuk-body">{{ content.notSure }}</p>

    {{ textarea(
      fields.livedApart.datesLivedTogether,
      content.fields.livedApart.datesLivedTogether.title
    ) }}
  </div>

{% endblock %}
