{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block head %}
  {% include "includes/head.html" %}

  <script type="text/javascript">
    var called = false;
    var startDocumentUpload = function() {
      if (called) {
        return;
      }
      called = true;
      var documentUpload = new DIVORCE.documentUpload();
      documentUpload.init({
        uploadingHint: '{{ content.uploading }}',
        pendingUploadHint: '{{ content.pendingUpload }}',
        hideErrorFileLink: '{{ content.hide }}',
        removeFileLink: '{{ content.remove }}',
        errors: {
          errorMaximumFilesExceeded: '{{ content.errors.errorMaximumFilesExceeded }}',
          errorUnknown: '{{ content.errors.errorUnknown }}',
          errorFileSizeTooLarge: '{{ content.errors.errorFileSizeTooLarge }}',
          errorFileTypeInvalid: '{{ content.errors.errorFileTypeInvalid }}',
          errorVirusFoundInFile: '{{ content.errors.errorVirusFoundInFile }}'
        }
      });
    }

    jQuery(document).ready(startDocumentUpload);
  </script>
{% endblock %}

{% block two_thirds %}

  {{ errorSummary(fields) }}

  {{ header(title, size='l') }}

  <p class="govuk-body">{{ content.uploadDigitalCopies }}</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-1" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.howToTake }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-1" aria-hidden="true">
      <ul class="govuk-list govuk-list--number">
        <li>{{ content.howToTakeInfo1 }}</li>
        <li>{{ content.howToTakeInfo2 }}</li>
        <li>{{ content.howToTakeInfo3 }}</li>
        <li>{{ content.howToTakeInfo4 }}</li>
      </ul>
    </div>
  </details>

  <p class="govuk-body">{{ content.entireDocument }}</p>

  <div class="document-upload">
    <div class="fallback">
      <form method="POST" accept-charset="utf-8" class="form"
        enctype="multipart/form-data"
        autocomplete="off"
        action="?_csrf={{ csurfCsrfToken }}">
        <label for="noJsFiles" class="file-select-button">
          {{ content.selectFiles }}
        </label>
        <input id="noJsFiles" type="file" name="file" class="file-upload-input" accept="image/x-png,image/png,image/jpeg,image/jpg,.pdf,.bmp,.tiff,.tif" required />
        <input type="submit" class="file-upload-button govuk-button" name="upload" value="{{ content.upload }}" />
      </form>
    </div>
    <div class="dropzone-container hidden">
      <div class="dz-default dz-message grid-row">
        <div class="column-one-third">
          <span class="arrow-icon"></span>
        </div>
        <div class="column-two-thirds">
          <p class="dz-message-copy govuk-body">
            <a class="govuk-link faux-link" href="#">{{ content.clickToChooseFile }}</a><br>
            <strong>{{ content.or }}</strong><br>
           {{ content.dragAndDrop }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uploaded-files-wrapper {{ 'hidden' if not filesWithoutErrors.length }}">
    <h2 class="govuk-heading-s" style="margin-bottom: 0;">{{ content.uploadedFiles }}</h2>
    <table class="govuk-table">
      <colgroup>
         <col span="1" style="width: 85%;">
         <col span="1" style="width: 15%;">
      </colgroup>
      <tbody>
        {%- if filesWithoutErrors.length -%}
          {%- for file in filesWithoutErrors -%}
            <tr class="file govuk-table__row">
              <td class="govuk-table__cell">{{ file.fileName | safe }}</td>
              <td class="govuk-table__cell"><a class="link remove-file govuk-link" data-fileUrl="{{ file.fileUrl | safe }}" href="?fileUrl={{ file.fileUrl | urlencode }}&noJsDelete=true">{{ content.remove }}</a></td>
            </tr>
          {%- endfor -%}
        {%- else -%}
          <tr class='no-files govuk-table__row'>
            <td class="govuk-table__cell">{{ content.noFiles }}</td>
            <td class="govuk-table__cell">&nbsp;</td>
          </tr>
        {%- endif -%}
      </tbody>
    </table>
  </div>

  <br>

  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.cantUpload }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <h4 class="govuk-heading-s">{{ content.sendByPost }}</h4>
      <ul class="govuk-list govuk-list--number">
        <li>{{ content.continueWithApplication }}</li>
        <li>{{ content.writeTheReference }}</li>
        <li>{{ content.postToCourt }}</li>
      </ul>
    </div>
  </details>

  <br>

  <form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">
    <input type="hidden" name="_csrf" value="{{ csurfCsrfToken }}">
    <input class="govuk-button" type="submit" value="Continue">
  </form>

  <br><br>
  {% include "includes/problem_with_this_page.html" %}

{% endblock %}
