{% extends "page.njk" %}

{% from "look-and-feel/components/progress-list.njk" import progressList %}
{% from "look-and-feel/components/document-list.njk" import documentList %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% block back %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    {% if isAwaitingClarification %}
      <h1 class="govuk-panel__title govuk-!-margin-bottom-0">{{content.clarification.responseSubmitted | safe}}</h1>
    {% else %}
      <h1 class="govuk-panel__title govuk-!-margin-bottom-0">{{content.applicationComplete | safe}}</h1>
      <p class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ content.appliedForDecreeNisi }}</p>
    {% endif %}
    <p class="govuk-panel__body govuk-!-margin-0 govuk-!-margin-top-2">
      <span class="govuk-!-font-size-19">{{ content.referenceNumber | safe }}</span>
      <br>
      <strong class="govuk-body-reference-number" aria-label="{{ case.caseReference | a11yCharSeparator | safe }}">
        {{ case.caseReference | safe }}
      </strong>
    </p>
  </div>

  {{
    progressList({
      one: {
        label: content.youApplied,
        complete: true
      },
      two: {
        label: content.husbandWifeResponded,
        complete: true
      },
      three: {
        label: content.getDecreeNisi,
        current: true
      },
      four: {
        label: content.madeFinal
      }
    })
  }}

  <br>

  <p class="govuk-body">{{ content.emailConfirmation | safe }}</p>

  {% if isAwaitingClarification %}
    <h2 class="govuk-heading-m">{{ content.clarification.next }}</h2>

    {% if shareDocumentsAndNoUploads %}

      <ul class="govuk-list govuk-list--number">
        <li>
          <p class="govuk-body govuk-!-font-weight-bold">{{ content.clarification.postDocuments.postDocuments }}</p>
          <p class="govuk-body">{{ content.clarification.postDocuments.youWantToSubmitDocs }}</p>
          <p class="govuk-body">{{ content.clarification.postDocuments.originalDocuments }}</p>

          <p class="govuk-body">
            <strong>
              {% if case.court[case.courts].serviceCentreName %}
                {{ case.court[case.courts].serviceCentreName }}<br>
              {% else %}
                {{ content.yourCourt }}<br>
              {% endif %}
            </strong>
            {{ content.careOf if case.court[case.courts].serviceCentreName }}{{ case.court[case.courts].divorceCentre | safe}} <br>
            {% if case.court[case.courts].poBox %}
                {{ case.court[case.courts].poBox | safe }}<br>
            {% endif %}
            {{ case.court[case.courts].courtCity | safe }}<br>
            {{ case.court[case.courts].postCode | safe }}
          </p>

          {{ warningText({
            text: content.clarification.postDocuments.referenceNumber,
            iconFallbackText: content.clarification.postDocuments.warning
          }) }}
        </li>
        <li>
          <p class="govuk-body govuk-!-font-weight-bold">{{ content.clarification.postDocuments.courtCheckResponse }}</p>
          <p class="govuk-body">{{ content.clarification.postDocuments.responseCheckedByCourt }}</p>
          <p class="govuk-body">{{ content.clarification.postDocuments.contactUs }}</p>
        </li>
      </ul>

    {% else %}

      <p class="govuk-body">{{ content.clarification.noPostDocuments.responseCheckedByCourt }}</p>
      <p class="govuk-body">{{ content.clarification.noPostDocuments.contactUs }}</p>

    {% endif %}

    <h2 class="govuk-heading-m">{{ content.clarification.needHelp }}</h2>
    <p class="govuk-body">{{ content.clarification.contactDivorceCentre | safe }}</p>

    <h2 class="govuk-heading-m">{{ content.clarification.helpImprove }}</h2>
    <p class="govuk-body">{{ content.clarification.helpImproveLink | safe  }}</p>
  {% else %}
    <p class="govuk-body">{{ content.courtWillCheck }}</p>
    <p class="govuk-body">{{ content.decreeNisiGranted }}</p>
  {% endif %}


{% endblock %}

{% block one_third %}
  {% include "includes/sideMenu.html" %}
{% endblock %}
