{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import textarea %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="govuk-body">{{ content.needToRespond | safe }}</p>

  <h2 class="govuk-heading-m">{{ content.needToProvide }}</h2>

  {% for feedback in feedbacks %}

    <div class="govuk-inset-text court-feedback">

      <h3 class="govuk-heading-s">{{ content.feedback[feedback].title }}</h3>
      {% if feedback != "other" %}
        <p class="govuk-body">{{ content.feedback[feedback].description }}</p>
      {% endif %}

      {% if feedback == "marriageCertTranslation" %}
        <ul class="govuk-list govuk-list--number">
          <li>{{ content.feedback[feedback].method1 | safe }}</li>
          <li>{{ content.feedback[feedback].method2 | safe }}</li>
        </ul>
      {% endif %}

      {% if feedback == "other" %}
        <p class="govuk-body">{{ case.RefusalClarificationAdditionalInfo }}</p>
      {% endif %}

    </div>

  {% endfor %}

  {{ textarea(
    fields.response,
    content.fields.response.title
  ) }}

{% endblock %}
