{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import hiddenInput %}

{% set titleSize = 'l' %}
{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}
  {% if case.coRespondentAnswers.admitAdultery %}
    <p class="govuk-body">{{ content.youNeedToRead }}</p>
  {% else %}
    <p class="govuk-body">{{ content.corespondentDidNotRespond }}</p>
  {% endif %}

  <h2 class="govuk-heading-m">{{ content.acknowledgementOfSrvice }}</h2>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.applicant }}</h3>
  <p class="govuk-body">{{ case.petitionerFirstName }} {{ case.petitionerLastName }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.respondent }}</h3>
  <p class="govuk-body">{{ case.respondentFirstName }} {{ case.respondentLastName }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.corespondent }}</h3>
  <p class="govuk-body">{{ case.reasonForDivorceAdultery3rdPartyFirstName }} {{ case.reasonForDivorceAdultery3rdPartyLastName }}</p>

  {% if case.coRespondentAnswers.admitAdultery %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.theCoRespondentResponseToAdultery }}</h3>
    {% if case.coRespondentAnswers.admitAdultery == "Yes" %}
      <p class="govuk-body">{{ content.theCoRespondentResponseToAdulteryYes }}</p>
    {% else %}
      <p class="govuk-body">{{ content.theCoRespondentResponseToAdulteryNo }}</p>
    {% endif %}
  {% endif %}

  {% if case.coRespondentAnswers.defendsDivorce %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.theCoRespondentDefendsTheDivorce }}</h3>
    {% if case.coRespondentAnswers.defendsDivorce == "Yes" %}
      <p class="govuk-body">{{ content.theCoRespondentDefendsTheDivorceYes }}</p>
    {% else %}
      <p class="govuk-body">{{ content.theCoRespondentDefendsTheDivorceNo }}</p>
    {% endif %}
  {% endif %}

  {% if case.coRespondentAnswers.costs.agreeToCosts %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ content.theCoRespondentAgreeToPayCosts }}</h3>
    {% if case.coRespondentAnswers.costs.agreeToCosts == "Yes" %}
      <p class="govuk-body">{{ content.theCoRespondentAgreeToPayCostsYes }}</p>
    {% else %}
      <p class="govuk-body">{{ content.theCoRespondentAgreeToPayCostsNo }}</p>
      <p class="govuk-body">{{ case.coRespondentAnswers.costs.reason | nl2br | safe }}</p>
    {% endif %}
  {% endif %}
  <details class="govuk-details">
    <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text" aria-label="What who pays for the divorce means">{{ content.whatThisMeans }}</span>
    </summary>
    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <p class="govuk-body">{{ content.theCoRespondentWasAsked }}</p>
      <p class="govuk-body">{{ content.theCoRespondentGivenOptions }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.theCoRespondentAgreeToPaySome }}</li>
        <li>{{ content.theCoRespondentNotAgreePay }}</li>
      </ul>
      <br>
      <p class="govuk-body">{{ content.theCoRespondentGivenChanceToChanges }}</p>
    </div>
  </details>
  <br>


  {{ hiddenInput(fields.reviewAosCRResponse, value='yes') }}
{% endblock %}