{% extends "page.njk" %}

{% block back %}{% endblock %}

{% block proposition_header %}{% endblock %}

{% set title %}
    {{ content.title | safe}}
{% endset %}

{% block main_content %}

    <p>{{ content.signInToReturn | safe }}</p> <br>
    <p>{{ content.ifYouNeedHelp | safe }}</p>
    <p>{{ content.phone }} {{ case.court[case.courts].phoneNumber }}, {{ case.court[case.courts].openingHours }}</p>
    <p>{{ content.email }} {{ case.court[case.courts].email }}</p>

{% endblock %}

{% block fields %}

{% endblock %}
