{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButton, errorClass, errorsFor %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="text">{{ content.applicationYouAsked | safe }}</p>
  <p class="text">
    {{ content.yourSpouseHas | safe }}
    {% if notExist(consts.respAgreeToCosts) %}
      {{ content.respNotPay }}
    {% else %}
      {{ content.respPay }}
    {% endif %}
  </p>
  {% if notExist(consts.respAgreeToCosts) %}
    <div class="panel panel-border-narrow">
      <p class="text">"
        {{ case.respCostsReason | nl2br | safe }}
      "</p>
    </div>
    <br />
  {% endif %}
  <p class="text">{{ content.courtWillDecide | safe }}</p>

  <details>
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">{{ content.readMore }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      <p class="text">{{ content.shouldPayCosts }}</p>
      <p class="text">{{ content.divorceWillBeGranted }}</p>
      <p class="text">{{ content.rulesInFavour }}</p>
      <p class="text">{{ content.disputeTheCosts }}</p>
    </div>
  </details>

  <br>
  {% call formSection() %}
  <fieldset>
    <legend class="visuallyhidden">{{ content.title | safe}}</legend>

    <div class="form-group {{ errorClass(fields.dnCosts.claimCosts) }}">
      {{ errorsFor(fields.dnCosts.claimCosts) }}
      {{
        selectionButton(
          field = fields.dnCosts.claimCosts,
          option = { label: content.fields.dnCosts.originalAmount, value: consts.originalAmount },
          type = 'radio'
        )
      }}
    </div>

    {% if notExist(consts.respAgreeToCosts) %}
    <div class="form-group {{ errorClass(fields.dnCosts.claimCosts) }}">
      {{ errorsFor(fields.dnCosts.claimCosts) }}
      {{
        selectionButton(
          field = fields.dnCosts.claimCosts,
          option = {
            label: content.fields.dnCosts.differentAmount,
            value: consts.differentAmount, target: "specific-amount"
          },
          type = 'radio'
        )
      }}
    </div>

    <div id="specific-amount" class="js-hidden panel panel-border-narrow form-group {{ errorClass(fields.dnCosts.costsDifferentDetails) }}">
      <label class="form-label-bold"
            for="{{ fields.dnCosts.costsDifferentDetails.id }}">
        {{ content.fields.dnCosts.costsDifferentDetails.title }}
      </label>
      {{ errorsFor(fields.dnCosts.costsDifferentDetails) }}
      <textarea class="form-control"
        id="{{ fields.dnCosts.costsDifferentDetails.id }}"
        name="{{ fields.dnCosts.costsDifferentDetails.id }}"
        rows="4">{% if fields.dnCosts.costsDifferentDetails.value %}{{ fields.dnCosts.costsDifferentDetails.value }}{% endif %}</textarea>
    </div>
    {% endif %}

    <div class="form-group {{ errorClass(fields.dnCosts.claimCosts) }}">
      {{ errorsFor(fields.dnCosts.claimCosts) }}
      {{
        selectionButton(
          field = fields.dnCosts.claimCosts,
          option ={ label: content.fields.dnCosts.endClaim, value: consts.endClaim },
          type = 'radio'
        )
      }}
    </div>
  </fieldset>
  {% endcall %}
{% endblock %}