{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButton, textarea, errorClass, errorsFor %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block fields %}

  <p class="text">{{ content.applicationYouAsked | safe }}</p>
  <p class="text">{{ content.courtWillDecide | safe }}</p>

  <details>
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">{{ content.readMore }}</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      <p class="text">{{ content.shouldPayCosts }}</p>
      <p class="text">{{ content.divorceWillBeGranted }}</p>
      <p class="text">{{ content.respondents2YearSep }}</p>
      <p class="text">{{ content.rulesInFavour }}</p>
      <p class="text">{{ content.disputeTheCosts }}</p>
    </div>
  </details>

  <br>

  {% call formSection() %}

     {{ selectionButton(fields.claimCosts.divorceCostsOption,
      option =
        { label: content.fields.claimCosts.courtSuggestedAmount, value: "originalAmount" },
      type='radio'
    )
    }}

    {{ selectionButton(fields.claimCosts.divorceCostsOption,
      option =
        { label: content.fields.claimCosts.suggestedAmount, value: "respAmount" },
      type='radio'
    )
    }}

    {{ selectionButton(fields.claimCosts.divorceCostsOption ,
      option =
        { label: content.fields.claimCosts.differentAmount, value: "alterAmount", target: "different-amount" },
      type='radio'
    )
    }}

    <div id="different-amount" class="form-group panel js-hidden">
      {{ textarea(fields.claimCosts.costsDifferentAmount, content.fields.amountToClaimAndReason.title) }}
    </div>

    {{ selectionButton(fields.claimCosts.divorceCostsOption,
      option =
        { label: content.fields.claimCosts.dontClaimDifferentAmount, value: "dontClaim" },
      type='radio'
    )
    }}

  {% endcall %}

{% endblock %}
