{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, textarea %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

<p class="govuk-body">{{ content.livingApart | safe }}</p>

<br>

{% call formSection() %}
  {{ selectionButtons(fields.changes.livedApartSinceSeparation, content.fields.changes.livedApartSinceSeparation.title,
    options = [
      { label: content.fields.changes.livedApartSinceSeparation.yes, value: "yes" },
      { label: content.fields.changes.livedApartSinceSeparation.no, value: "no", target: "no-container" }
    ],
    hint=false,
    hideQuestion=true,
    inline=true,
    type='radio'
  ) }}
{% endcall %}


<!-- Dropdown area if answered no -->
<div class="js-hidden" id="no-container">
  {{ textarea(
    fields.changes.approximateDatesOfLivingTogetherField,
    content.fields.changes.approximateDatesOfLivingTogetherField.title,
    bold=true
  ) }}
</div>
<!-- end of dropdown area -->

{% endblock %}