{% extends "page.njk" %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
  <p class="govuk-body">{{ content.courtHearsBothParties | safe }}</p>

  {{ warningText({
      text: content.infoToContactRespondent,
      iconFallbackText: content.warning
  }) }}

  <p class="govuk-body">{{ content.provideNewAddrToCourt | safe }}</p>
  <p class="govuk-body">{{ content.noResponseOptions | safe }}</p>

  <h2 class="govuk-heading-m">{{ content.whichSituation }}</h2>

 <details class="exit-guidance">
    <summary aria-controls="details-content-0" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.haveAnotherAddress.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
      <p class="govuk-body">{{ content.haveAnotherAddress.provideAddress }}</p>
      <p class="govuk-body">{{ content.haveAnotherAddress.noExtraPay }}</p>
    </div>
  </details>

 <details class="exit-guidance">
    <summary aria-controls="details-content-1" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.sendToWorkAddress.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-1" aria-hidden="true">
      <p class="govuk-body">{{ content.sendToWorkAddress.askToSendApp }}</p>
      <p class="govuk-body"><strong>{{ content.howToApply }}</strong>{{ content.fill }} {{ content.applyD11 | safe }} {{ content.printAndSend }}</p>
      <p class="govuk-body"><strong>{{ content.howToPay }}</strong>{{ content.howToPayContent }}</p>
      <p class="govuk-body">{{ content.getNewRefNumb | safe }}</p>
      <p class="govuk-body">{{ content.extraCosts }}</p>
    </div>
  </details>

 <details class="exit-guidance">
    <summary aria-controls="details-content-2" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.needToSearchRecords.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-2" aria-hidden="true">
      <p class="govuk-body">{{ content.needToSearchRecords.canApplyIfRespLivesInEngWales }}</p>
      <p class="govuk-body"><strong>{{ content.howToApply }}</strong> {{ content.needToSearchRecords.applyViaSearchRecords }}</p>
      <p class="govuk-body"><strong>{{ content.howToPay }}</strong>{{ content.howToPayContent }}</p>
      <p class="govuk-body">{{ content.getNewRefNumb | safe }}</p>
      <p class="govuk-body">{{ content.extraCosts }}</p>
    </div>
  </details>

 <details class="exit-guidance">
    <summary aria-controls="details-content-3" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.sendEmailToResp.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-3" aria-hidden="true">
      <p class="govuk-body">{{ content.sendEmailToResp.appToEmail }}</p>
      <p class="govuk-body"><strong>{{ content.howToApply }}</strong> {{ content.fill }} {{ content.applyD11 | safe }} {{ content.printAndSend }}</p>
      <p class="govuk-body"><strong>{{ content.howToPay }}</strong>{{ content.howToPayContent }}</p>
      <p class="govuk-body">{{ content.getNewRefNumb | safe }}</p>
      <p class="govuk-body">{{ content.extraCosts }}</p>
    </div>
  </details>

 <details class="exit-guidance">
    <summary aria-controls="details-content-4" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.believeRespChoseNotToRespond.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-4" aria-hidden="true">
      <p class="govuk-body">{{ content.believeRespChoseNotToRespond.deliverPapersDirectlyToResp }}</p>
      <p class="govuk-body">{{ content.believeRespChoseNotToRespond.optionsToDeliver }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.believeRespChoseNotToRespond.privateHireToDeliver }}</li>
        <li>{{ content.believeRespChoseNotToRespond.courtEmpToDeliver }}</li>
      </ul>
      <p class="govuk-body"><strong>{{ content.believeRespChoseNotToRespond.processServers }}</strong></p>
      <p class="govuk-body">{{ content.believeRespChoseNotToRespond.processServerDetails }}</p>
      <p class="govuk-body"><strong>{{ content.believeRespChoseNotToRespond.courtBailiff }}</strong></p>
      <p class="govuk-body"><strong>{{ content.believeRespChoseNotToRespond.courtBailiffCovid19 }}</strong></p>
      <p class="govuk-body">{{ content.believeRespChoseNotToRespond.courtBailiffDetails1 }}</p>
      <p class="govuk-body">{{ content.believeRespChoseNotToRespond.courtBailiffDetails2 }}</p>
      <p class="govuk-body"><strong>{{ content.howToApply }}</strong> {{ content.fill }} {{ content.believeRespChoseNotToRespond.formD89 | safe }}</p>
      <p class="govuk-body">{{ content.believeRespChoseNotToRespond.moreToSend }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.believeRespChoseNotToRespond.respPhoto }}</li>
        <li>{{ content.believeRespChoseNotToRespond.divorceAppCopy }}</li>
      </ul>
      <p class="govuk-body"><strong>{{ content.howToPay }}</strong>{{ content.howToPayBailiffContent }}</p>
      <p class="govuk-body">{{ content.getNewRefNumb | safe }}</p>
      <p class="govuk-body">{{ content.extraCosts }}</p>
    </div>
  </details>


 <details class="exit-guidance">
    <summary aria-controls="details-content-5" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.evidenceRespWontRespond.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-5" aria-hidden="true">
      <p class="govuk-body">{{ content.evidenceRespWontRespond.canApplyForDeemedServ }}</p>
      <p class="govuk-body">{{ content.evidenceRespWontRespond.needToProve }}</p>
      <p class="govuk-body"><strong>{{ content.howToApply }}</strong> {{ content.fill }} {{ content.applyD11 | safe }} {{ content.evidenceRespWontRespond.applyAndSendDocs }}</p>
      <p class="govuk-body"><strong>{{ content.howToPay }}</strong>{{ content.howToPayContent }}</p>
      <p class="govuk-body">{{ content.getNewRefNumb | safe }}</p>
      <p class="govuk-body">{{ content.extraCosts }}</p>
    </div>
  </details>


 <details class="exit-guidance">
    <summary aria-controls="details-content-6" aria-expanded="false">
      <span class="govuk-details__summary-text">{{ content.doneWithAllWaysOfDelivering.linkSummary }}</span>
    </summary>

    <div class="govuk-details__text" id="details-content-6" aria-hidden="true">
      <p class="govuk-body">{{ content.doneWithAllWaysOfDelivering.askForDispenseWithService }}</p>
      <p class="govuk-body">{{ content.doneWithAllWaysOfDelivering.allInCourtHands }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.doneWithAllWaysOfDelivering.relatives }}</li>
        <li>{{ content.doneWithAllWaysOfDelivering.friends }}</li>
        <li>{{ content.doneWithAllWaysOfDelivering.lastEmployer }}</li>
        <li>{{ content.doneWithAllWaysOfDelivering.tradePlace }}</li>
      </ul>
      <p class="govuk-body">{{ content.doneWithAllWaysOfDelivering.searchInGovtDB }}</p>
      <p class="govuk-body"><strong>{{ content.howToApply }}</strong> {{ content.fill }} {{ content.applyD11 | safe }} {{ content.doneWithAllWaysOfDelivering.and }} {{ content.doneWithAllWaysOfDelivering.applyD13bLink | safe }} {{ content.doneWithAllWaysOfDelivering.applyD11AndD13bContent }}</p>
      <p class="govuk-body"><strong>{{ content.howToPay }}</strong>{{ content.howToPayContent }}</p>
      <p class="govuk-body">{{ content.getNewRefNumb | safe }}</p>
      <p class="govuk-body">{{ content.extraCosts }}</p>
    </div>
  </details>

{% endblock %}

{% block one_third %}
  {% include "includes/sideMenu.html" %}
{% endblock %}

