{% extends "page.njk" %}
{% from "look-and-feel/components/warning-text.njk" import warningText %}

{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block main_content %}
  <p class="govuk-body">{{ content.courtHearsBothParties | safe }}</p>

  {{ warningText({
      text: content.infoToContactRespondent,
      iconFallbackText: content.warning
  }) }}

  <p class="govuk-body">{{ content.provideNewAddrToCourt | safe }}</p>
  <p class="govuk-body">{{ content.noResponseOptions | safe }}</p>

  {% include "includes/aos_delivery_alternatives.html" %}
{% endblock %}

{% block one_third %}
  {% include "includes/sideMenu.html" %}
{% endblock %}

