{% from "look-and-feel/components/progress-list.njk" import progressList %}

{{
  progressList({
    one: {
      label: content.youApply,
      complete: true
    },
    two: {
      label: content.husbandWifeMustRespond,
      complete: true
    },
    three: {
      label: content.getDecreeNisi,
      current: true
    },
    four: {
      label: content.madeFinal
    }
  })
}}
<h2 class="govuk-heading-m">{{ content.undefendedAppStatusMsg }}</h2>

{% if respNotAdmitsToFact %}
  {% if isCaseAmended %}
    <p class="govuk-body">{{ content.undefendedAmendedCaseButNotAdmit }}</p>
  {% else %}
    <p class="govuk-body">{{ content.undefendedButNotAdmit }}</p>
  {% endif %}
{% else %}
  {% if isCaseAmended %}
    <p class="govuk-body">{{ content.undefendedAmendedAppStatusMsgDetails1 }}</p>
  {% else %}
    <p class="govuk-body">{{ content.undefendedAppStatusMsgDetails1 }}</p>
  {% endif %}
{% endif %}
<p class="govuk-body">{{ content.undefendedAppStatusMsgDetails2 }}</p>

<details class="govuk-details">
  <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
    <span class="govuk-details__summary-text">{{ content.undefendedReadMore }}</span>
  </summary>

  <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
    <p class="govuk-body">{{ content.undefendedOrderForDivorce }}</p>

    <ol class="govuk-list govuk-list--number">
      <li>{{ content.undefendedCourtAgrees }}</li>
      <li>{{ content.undefendedCannotBeMade6Weeks }}</li>
    </ol>

    <p class="govuk-body">{{ content.undefendedUntilTheDecreeAbsolute }}</p>
  </div>
</details>

<form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">
  <input role="button" draggable="false" class="govuk-button govuk-button--start" type="submit" value="{{ content.continue }}">
</form>
