{% from "look-and-feel/components/document-list.njk" import documentList %}
{% extends "page.njk" %}

{% set titleSize = 'xl' %}

{% set title %}
  {{ content.title }}
{% endset %}

{% block back %}
{% endblock %}

{% block main_content %}
  <p class="govuk-body-s">
    {% if isCaseIdToBeDisplayed %}
      <strong class="govuk-!-font-size-16">{{ content.referenceNumber }}:</strong>&nbsp;&nbsp;&nbsp;
      {{ caseId | hypenate | safe }}
    {% else %}
      <strong class="govuk-!-font-size-16">{{ content.caseNumber }}:</strong>&nbsp;&nbsp;&nbsp;
      {{ caseReference | safe }}
    {% endif %}
    <br>
    <strong class="govuk-!-font-size-16">{{ content.name }}:</strong> &nbsp;&nbsp;&nbsp; {{ case.petitionerFirstName }} {{ case.petitionerLastName }}
  </p>

  {% include stateTemplate %}

{% endblock %}

{% block one_third %}
  {% include "includes/sideMenu.html" %}
{% endblock %}
