{% extends "check-your-answers.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
  {{ content.title }}
{% endset %}

{% set pageContent = {
  title: content.title,
  continue: content.continue,
  sendApplication: content.submit
} %}

{% block statement_of_truth_content %}
  {{ header(content.confirm, size='m') }}
  <p class="govuk-body">{{ content.imprisonedOrContempt }}</p>
{% endblock %}

{% block statement_of_truth_fields %}

  <div class="confirmation-container">
    {% call formSection() %}
      {{
        selectionButtons(
          fields.statementOfTruth,
          content.fields.statementOfTruth.yes,
          options = [
            { label: content.fields.statementOfTruth.yes, value: "yes" }
          ],
          hint=false,
          hideQuestion=true,
          inline=false,
          type='checkbox'
        )
      }}
    {% endcall %}

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
      {% if dnClaimCosts and dnClaimCosts != "endClaim" %}
        {% if case.claimsCostsFrom|length and "respondent" in case.claimsCostsFrom and "correspondent" in case.claimsCostsFrom  %}
          <li>{{ content.applyingForDecreeNisiClaimsCostsRespondentCoRespondent }}</li>
        {% elseif case.claimsCostsFrom|length and "correspondent" in case.claimsCostsFrom  %}
          <li>{{ content.applyingForDecreeNisiClaimsCostsCoRespondent }}</li>
        {% else %}
          <li>{{ content.applyingForDecreeNisiClaimsCostsRespondent }}</li>
        {% endif %}
      {% else %}
        <li>{{ content.applyingForDecreeNisi }}</li>
      {% endif %}
      <li>{{ content.facts }}</li>
    </uL>

    <br>

    <details class="govuk-details">
      <summary class="govuk-details__summary" aria-controls="details-content-0" aria-expanded="false">
        <span class="govuk-details__summary-text">{{ content.whatTheseStatments }}</span>
      </summary>
      <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
        <p class="govuk-body">{{ content.firstStatment }}</p>
      </div>
    </details>
  </div>

  <br>
{%- endblock %}
