{% from "look-and-feel/components/progress-list.njk" import progressList %}

{{
  progressList({
    one: {
      label: content.youApply,
      complete: true
    },
    two: {
      label: content.husbandWifeMustRespond,
      complete: true
    },
    three: {
      label: content.getDecreeNisi,
      current: true
    },
    four: {
      label: content.madeFinal
    }
  })
}}

{% if respNotAdmitsToFact and reasonForDivorce == "adultery" %}
      <h2 class="heading-medium">{{ content.respDoesNotAdmitAdulteryTitle }}</h2>
      <p class="text">{{ content.respDoesNotAdmitAdulteryPar1 }}</p>
      <p class="text">{{ content.respDoesNotAdmitAdulteryPar2 }}</p>
      <p class="text">{{ content.respDoesNotAdmitAdulteryPar3 }}</p>
    <div class="notice">
        <em class="icon icon-important"></em>
        <p class="bold-small">
            {{ content.downloadAndSaveYourDocuments | safe}}
        </p>
    </div>
{% endif %}

{% if respNotAdmitsToFact and reasonForDivorce == "separation-2-years" %}
    <h2 class="heading-medium">{{ content.respDoesNotConsent2YearSepTitle }}</h2>
    <p class="text">{{ content.respDoesNotConsent2YearSepYouMustHave }}</p>
    <p class="text">{{ content.respDoesNotConsent2YearSepYouHaveToPay }}</p>
    <p class="text">{{ content.respDoesNotConsent2YearSepReadResponse }}</p>
    <div class="notice">
        <em class="icon icon-important"></em>
        <p class="bold-small">
            {{ content.downloadAndSaveYourDocuments | safe}}
        </p>
    </div>
{% endif %}

<!--TODO
 Add functionality for other scenarios as in backlog
 -->

<form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">
  <input class="button button-start" type="submit" value="{{ content.continue }}">
</form>