{% from "look-and-feel/components/progress-list.njk" import progressList %}

{{
  progressList({
    one: {
      label: content.youApply,
      complete: true
    },
    two: {
      label: content.husbandWifeMustRespond,
      complete: true
    },
    three: {
      label: content.getDecreeNisi,
      current: true
    },
    four: {
      label: content.madeFinal
    }
  })
}}

{% if respNotAdmitsToFact and reasonForDivorce == "adultery" %}
    <h2 class="govuk-heading-m">{{ content.respDoesNotAdmitAdulteryTitle }}</h2>
    <p class="govuk-body">{{ content.respDoesNotAdmitAdulteryPar1 }}</p>
    <p class="govuk-body">{{ content.respDoesNotAdmitAdulteryPar2 }}</p>
    <p class="govuk-body">{{ content.respDoesNotAdmitAdulteryPar3 }}</p>
    {{ warningText({
        text: content.downloadAndSaveYourDocuments,
        iconFallbackText: content.warning
    }) }}
{% endif %}

{% if respNotAdmitsToFact and reasonForDivorce == "separation-2-years" %}
    <h2 class="govuk-heading-m">{{ content.respDoesNotConsent2YearSepTitle }}</h2>
    <p class="govuk-body">{{ content.respDoesNotConsent2YearSepYouMustHave }}</p>
    <p class="govuk-body">{{ content.respDoesNotConsent2YearSepYouHaveToPay }}</p>
    <p class="govuk-body">{{ content.respDoesNotConsent2YearSepReadResponse }}</p>
    {{ warningText({
        text: content.downloadAndSaveYourDocuments,
        iconFallbackText: content.warning
    }) }}
{% endif %}

<!--TODO
 Add functionality for other scenarios as in backlog
 -->

<form action="{{ postUrl | default(path if path else url) }}" method="post" class="form">
  <input role="button" draggable="false" class="govuk-button govuk-button--start" type="submit" value="{{ content.continue }}">
</form>